@import "tailwindcss";

/** Logo and Heading Font */
@font-face {
  font-family: Bricolage Grotesque;
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf");
}

/** Body Fonts */
/* Light Weight */
@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/DM_Sans/static/DMSans-Light.ttf");
}

/* Medium (Regular) Weight */
@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/DM_Sans/static/DMSans-Medium.ttf");
}

/* SemiBold Weight */
@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf");
}

/* SemiBold Italic Weight */
@font-face {
  font-family: DM Sans;
  font-style: italic;
  font-weight: 600;
  src: url("./assets/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf");
}

/* Bold Weight */
@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/DM_Sans/static/DMSans-Bold.ttf");
}

@theme {
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-900: hsl(243, 96%, 9%);

  --color-neutral-500: hsl(28, 100%, 52%);

  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);

  --font-body: DM Sans, sans-serif;
  --font-logo-heading: Bricolage Grotesque, sans-serif;
  --text-body-size: 18px;

  --breakpoint-xs: 480px;

  --background-image-desktop: url("/bg-today-large.svg");
  --background-image-mobile: url("/bg-today-small.svg");

}

@layer base {
  body {
    background: var(--color-neutral-900);
    font-optical-sizing: auto;
    min-height: 100vh;
    overflow-x: hidden;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-logo-heading);
    color: var(--color-neutral-0);
  }

  p, span {
    font-family: var(--font-body);
    font-size: var(--text-body-size);
    color: var(--color-neutral-0);
  }

  main {
    @apply flex flex-col items-center justify-center w-full p-10;
  }
}

@layer utilities {
}

@layer components {
  .container {
    @apply max-w-360 flex flex-col items-center justify-center;

    & > h1 {
      @apply text-6xl mb-16;
    }
  }

  .navbar {
    @apply flex flex-row items-center justify-between w-full mb-18;

    & .logo {
      @apply flex flex-row items-center gap-2
    }

    & .logo img {
      @apply w-50 h-12;
    }

    & .units-btn {
      @apply flex items-center gap-4 rounded-lg bg-neutral-800 text-neutral-0 py-2.5 px-4 cursor-pointer;
    }
  }

  .search {
    @apply w-2/4 flex flex-row items-center gap-4 mb-12;

    & .search-input {
      @apply w-full flex gap-4 rounded-lg bg-neutral-800 text-neutral-0 py-3.5 px-4;

      & input {
        @apply w-full bg-transparent outline-none;
      }
    }

    & .search-btn {
      @apply bg-blue-500 text-neutral-0 px-6 py-3.5 rounded-lg cursor-pointer font-body;
    }
  }

  .weather-box {
    @apply w-full h-203.25 flex flex-row gap-8;

    & .weather-daily, .weather-hourly {
      @apply flex flex-col gap-4;
    }

    & .weather-daily {
      @apply w-[67.5%];

      & .location-weather {
        @apply bg-desktop bg-no-repeat bg-size-[100%,auto] h-93 p-8 flex items-center justify-between;

        & .city-and-date {
          @apply flex flex-col items-start gap-y-2;

          & h4.location {
            @apply text-2xl;
          }

          & span.date {
            @apply font-light text-neutral-200;
          }
        }

        & .condition-and-temperature {
          @apply flex items-center;

          & .condition img {
            @apply w-32 h-32;
          }

          & .temperature h1 {
            @apply text-[6.4rem] italic;
          }
        }
      }

      & .location-weather-details {
        @apply flex gap-4 h-32 mt-4 mb-6;
      }

      & .feels-like, .humidity, .wind-speed, .precipitation {
        @apply flex flex-col items-start justify-between bg-neutral-800 w-full rounded-lg p-4;

        & p {
          @apply text-neutral-300;
        }

        & span {
          @apply text-4xl font-light;
        }
      }

      & .location-daily-forecasts {
        /* @apply flex gap-4; */

        & p {
          @apply text-body-size mb-4;
        }

        & .days-forecasts {
          @apply flex gap-4 items-center justify-center;

          & .day {
            @apply flex flex-col items-center justify-between p-4;
          }

          & .day .daily-weather-icon {
            @apply w-24 h-24;
          }

          & .high-low-temp {
            @apply flex justify-between w-full;

            & p {
              @apply mb-0;
            }
          }
        }
      }
    }

    & .weather-hourly {
      @apply w-[30%] h-full;

      & .location-hourly-forecast {
        @apply p-6 overflow-y-scroll;

        & .weekday-hourly-forecast {
          @apply flex items-center justify-between;

          & .weekday {
            @apply flex bg-neutral-600 gap-x-2 cursor-pointer rounded-lg py-2.5 px-5;
          }
        }

        & .hourly-weather-forecast {
          @apply flex flex-col gap-y-4.5 mt-8;

          & .weather-hour-card {
            @apply bg-neutral-700 flex items-center justify-between rounded-lg py-1 pr-4 pl-1;

            & .hour {
              @apply flex items-center;

              & .hourly-weather-icon {
                @apply w-14 h-14;
              }
            }
          }
        }
      }
    }

    & .day, .location-hourly-forecast {
      @apply bg-neutral-800 w-full rounded-lg;
    }
  }
}