@import "tailwindcss";

/** Logo and Heading Font */
@font-face {
  font-family: Bricolage Grotesque;
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf");
}

/** Body Fonts */
/* Light Weight */
@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/DM_Sans/static/DMSans-Light.ttf");
}

/* Medium (Regular) Weight */
@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/DM_Sans/static/DMSans-Medium.ttf");
}

/* SemiBold Weight */
@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf");
}

/* SemiBold Italic Weight */
@font-face {
  font-family: DM Sans;
  font-style: italic;
  font-weight: 600;
  src: url("./assets/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf");
}

/* Bold Weight */
@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/DM_Sans/static/DMSans-Bold.ttf");
}

@theme {
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-900: hsl(243, 96%, 9%);

  --color-neutral-600: hsl(28, 100%, 52%);

  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);

  --font-body: DM Sans, sans-serif;
  --font-logo-heading: Bricolage Grotesque, sans-serif;
  --font-body-size: 18px;

  --breakpoint-xs: 480px;

  --background-image-desktop: url("/bg-today-large.svg");
  --background-image-mobile: url("/bg-today-small.svg");

}

@layer base {
  body {
    background: var(--color-neutral-900);
    font-optical-sizing: auto;
    min-height: 100vh;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-logo-heading);
  }

  p, span {
    font-family: var(--font-body);
    font-size: var(--font-body-size);
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto my-8 px-6 py-8 flex items-center justify-center flex-col gap-8;

    & h1 {
      @apply text-5xl text-white mb-6;
    }
  }

  .navbar {
    @apply flex flex-row items-center justify-between w-full mb-10;

    & .logo {
      @apply flex flex-row items-center gap-2
    }

    & .logo img {
      @apply w-50 h-12;
    }

    & .units-btn {
      @apply flex items-center gap-4 rounded-lg bg-neutral-800 text-neutral-0 py-2.5 px-4 cursor-pointer;
    }
  }

  .search {
    @apply w-full max-w-xl flex flex-row items-center gap-4;

    & .search-input {
      @apply w-full flex gap-4 rounded-lg bg-neutral-800 text-neutral-0 py-3.5 px-4;

      & input {
        @apply w-full bg-transparent outline-none;
      }
    }

    & .search-btn {
      @apply bg-blue-500 text-neutral-0 px-6 py-3.5 rounded-lg cursor-pointer font-body;
    }
  }
}