@import "tailwindcss";

/** Logo and Heading Font */
@font-face {
  font-family: Bricolage Grotesque;
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf");
}

/** Body Fonts */
/* Light Weight */
@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/DM_Sans/static/DMSans-Light.ttf");
}

/* Medium (Regular) Weight */
@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/DM_Sans/static/DMSans-Medium.ttf");
}

/* SemiBold Weight */
@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf");
}

/* SemiBold Italic Weight */
@font-face {
  font-family: DM Sans;
  font-style: italic;
  font-weight: 600;
  src: url("./assets/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf");
}

/* Bold Weight */
@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/DM_Sans/static/DMSans-Bold.ttf");
}

@theme {
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-900: hsl(243, 96%, 9%);

  --color-neutral-500: hsl(28, 100%, 52%);

  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);

  --shadow-dropdown: -8px 8px 12px 8px rgba(39, 37, 65, 0.8);
  --shadow-units-dropdown: -2px 8px 8px 6px rgba(3, 1, 45, 0.2);

  --font-body: DM Sans, sans-serif;
  --font-logo-heading: Bricolage Grotesque, sans-serif;
  --text-body-size: 18px;

  --breakpoint-xs: 480px;

  --background-image-desktop: url("/bg-today-large.svg");
  --background-image-mobile: url("/bg-today-small.svg");

}

@layer base {
  body {
    background: var(--color-neutral-900);
    font-optical-sizing: auto;
    min-height: 100vh;
    overflow-x: hidden;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-logo-heading);
    color: var(--color-neutral-0);
  }

  p, span {
    font-family: var(--font-body);
    font-size: var(--text-body-size);
    color: var(--color-neutral-0);
  }

  main {
    @apply flex flex-col items-center justify-center w-full p-10;
  }
}

@layer utilities {
}

@layer components {
  .container {
    @apply max-w-360 flex flex-col items-center justify-center;

    & > h1 {
      @apply text-6xl mb-16;
    }
  }

  .navbar {
    @apply flex flex-row items-center justify-between w-full mb-18;

    & .logo {
      @apply flex flex-row items-center gap-2
    }

    & .logo img {
      @apply w-50 h-12;
    }

    & .units-container {
      @apply h-full relative flex justify-end;

      & .units-btn {
        @apply flex items-center gap-4 rounded-lg bg-neutral-800 text-neutral-0 py-2.5 px-4 cursor-pointer hover:bg-neutral-700 focus:outline-2 focus:outline-offset-[3.2px] focus:outline-neutral-0;

        & .units-icon {
          @apply w-4 h-4;
        }

        & .units-dropdown-icon {
          @apply w-3 h-3;
        }
      }

      & .units-dropdown {
        @apply absolute top-10 bg-neutral-800 py-2 px-2 cursor-pointer font-body text-body-size w-64 z-1 mt-2.5 rounded-xl border-neutral-600 border shadow-(--shadow-units-dropdown);

        & .units-dropdown-options {
          @apply flex flex-col gap-2;

          & .units-dropdown-option {
            @apply hover:bg-neutral-700 hover:rounded-lg px-2 py-2 focus:outline-2 focus:outline-offset-2 focus:outline-neutral-0 focus:rounded-lg;
          }

          & .metrics {
            @apply flex flex-col gap-2;

            & .temperature-metric, .wind-speed-metric, .precipitation-metric {
              @apply flex flex-col gap-1.5;

              & .metrics-heading {
                @apply text-neutral-300 text-base pl-2;
              }

              & .metric {
                @apply p-2 rounded-lg hover:bg-neutral-700 cursor-pointer flex items-center justify-between;

                & .tick-icon {
                  @apply w-4 h-4;
                }
              }
            }

            & hr {
              @apply h-0.5 text-neutral-600;
            }
          }
        }
      }
    }

  }

  /** Search Bar */
  .search {
    @apply w-2/4 flex flex-row items-center gap-4 mb-12;

    & .search-input-container {
      @apply w-full relative focus:outline-2 focus:outline-offset-4 focus:outline-neutral-0 focus:rounded-lg;

      & .search-input {
        @apply w-full flex gap-4 rounded-lg bg-neutral-800 text-neutral-0 py-3.5 px-4 cursor-pointer hover:bg-neutral-700;

        & img {
          @apply w-5.25 h-6;
        }
  
        & input {
          @apply w-full bg-transparent outline-none;
        }
      }

      & .searched-suggestions {
        @apply absolute top-full left-0 right-0 bg-neutral-800 opacity-96 mt-4 py-2 px-2 cursor-pointer font-body text-body-size flex flex-col gap-1 z-50 rounded-lg shadow-lg border border-neutral-600 max-h-62.5 overflow-y-auto;

        & .search-loading {
          @apply flex gap-4 items-center my-1;

          .search-loading-text {
            @apply text-neutral-0 font-medium;
          }
        }

        & .search-suggestion-location {
          @apply flex items-center gap-0.5 p-3 rounded-lg hover:bg-neutral-700 tracking-wide;

          & .suggestion-location-name {
            @apply text-neutral-0 font-medium;
          }
  
          & .suggestion-location-country {
            @apply text-neutral-0 font-medium ml-1;
          }
        }
      }
  
    }

    & .search-btn {
      @apply bg-blue-500 text-neutral-0 px-6 py-3.5 rounded-lg cursor-pointer font-body hover:bg-blue-700 focus:outline-2 focus:outline-offset-4 focus:outline-blue-500;
    }
    /* TODO: add disabled state styling */

  }


  /** Weather Data Display Boxes */
  .weather-box {
    @apply w-full h-220 flex flex-row gap-8;

    & .weather-daily, .weather-hourly {
      @apply flex flex-col gap-4;
    }

    & .weather-daily {
      @apply w-[67.5%] justify-between;

      & .location-weather {
        @apply w-full h-[23.2rem] bg-desktop bg-no-repeat bg-cover rounded-3xl flex items-center justify-between p-8;

        & .city-and-date {
          @apply flex flex-col items-start gap-y-2;

          & h4.location {
            @apply text-2xl;
          }

          & span.date {
            @apply font-light text-neutral-200;
          }
        }

        & .condition-and-temperature {
          @apply flex items-center;

          & .condition img {
            @apply w-32 h-32;
          }

          & .temperature h1 {
            @apply text-[6.4rem] italic;
          }
        }
      }

      & .location-weather-details {
        @apply flex gap-4 h-32;
      }

      & .feels-like, .humidity, .wind-speed, .precipitation {
        @apply flex flex-col items-start justify-between bg-neutral-800 w-full rounded-lg p-4 border border-neutral-600;

        & p {
          @apply text-neutral-300;
        }

        & span {
          @apply text-4xl font-light;
        }
      }

      & .location-daily-forecasts {
        @apply w-full;

        & p {
          @apply text-body-size mb-4;
        }

        & .days-forecasts {
          @apply flex gap-4 items-center;

          & .day {
            @apply flex flex-col items-center justify-between gap-2 p-4 border border-neutral-600;
          }

          & .day .daily-weather-icon {
            @apply w-24 h-24;
          }

          & .high-low-temp {
            @apply flex justify-between w-full;

            & p {
              @apply mb-0;
            }
          }
        }
      }
    }

    & .weather-hourly {
      @apply w-[30%] h-full;

      & .location-hourly-forecast {
        @apply p-6 h-full overflow-y-auto;  

        & .weekday-hourly-forecast {
          @apply flex items-center justify-between;

          & .days-dropdown {
            @apply w-40 relative;
          }

          & .days-dropdown-selected {
            @apply bg-neutral-600 flex items-center justify-between cursor-pointer rounded-lg py-2.5 px-4 text-neutral-0 font-body text-body-size hover:bg-neutral-700;

            & img {
              @apply w-4 h-4;
            }
          }

          & .days-dropdown-options {
            @apply bg-neutral-800 opacity-92 absolute text-neutral-0 py-2 px-2 cursor-pointer font-body text-body-size flex flex-col gap-2.5 w-54 z-1 top-16 right-0 rounded-lg shadow-(--shadow-dropdown) border-neutral-600 border;

            & .day-dropdown-option {
              @apply hover:bg-neutral-700 hover:rounded-lg px-2 py-2;
            }
          }
        }

        & .hourly-weather-forecast {
          @apply flex flex-col gap-y-4.5 mt-5 overflow-y-scroll h-full;

          & .weather-hour-card {
            @apply bg-neutral-700 flex items-center justify-between rounded-lg py-1 pr-4 pl-1 border border-neutral-600;

            & .hour {
              @apply flex items-center gap-2;

              & .hourly-weather-icon {
                @apply w-14 h-14;
              }
            }
          }
        }
      }
    }

    & .day, .location-hourly-forecast {
      @apply bg-neutral-800 w-full rounded-2xl;
    }
  }
}